@import 'tailwindcss';
@import 'tw-animate-css';

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #e5e7eb;
  --color-gray-500: #6b7280;
  --color-black: #000000;

  --color-orange-base: #fbbf24;
  --color-orange-light: #fdd97c;
  --color-red-base: #ef4444;

  --font-sans: 'Cairo', sans-serif;
}
