@import "tailwindcss";
@import "tw-animate-css";

:root {
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;
}

@theme {
  --color-*: initial;

  --color-white: #ffffff;
  --color-gray-100: #f6f6f6;
  --color-gray-200: #e5e7eb;
  --color-gray-500: #6b7280;
  --color-black: #000000;

  --color-orange-base: #fbbf24;
  --color-orange-light: #fdd97c;
  --color-red-base: #ef4444;
  --color-green-base: #22c55e;
  --color-blue-base: #3b82f6;

  --font-sans: "Cairo", sans-serif;
}

@layer base {
  h1 {
    @apply text-2xl font-bold text-black;
  }
  h2 {
    @apply text-xl font-semibold text-black;
  }
}
